#main-banner {
  height: calc(100vh - 0px);
  background: rgb(0,161,186);
  background: linear-gradient(45deg, rgba(0,161,186,1) 0%, rgba(156,216,115,1) 100%);

  .full-heigh {
    height: 100%;
  }

  h1 {
    color: #fff;
    font-size: 5em;
  }

  iframe {
    opacity: 0;
    transition: opacity 2s;
  }
}