@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

::-moz-selection { /* Code for Firefox */
  color: #fff;
  background: #00a1ba;
}

::selection {
  color: #fff;
  background: #00a1ba;
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 */

body {
  font-family: 'Montserrat', sans-serif;
}

/* h1, h2, h3, h4, h5, h6 {
  font-family: 'Comfortaa', cursive;
} */

input.ant-input {
  border-radius: 50px;
  padding: 4px 15px;
}
span.ant-input-affix-wrapper {
  border-radius: 50px;
}
span.ant-input-affix-wrapper > input.ant-input {
  padding: 0 5px;
}

.full-heigh {
  height: 100%;
}

.site-layout-content {
  min-height: calc(100vh - 64px - 74px);
  padding: 0;
  background: #fff;
  overflow: hidden;
}
#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.ant-layout-header {
  background-color: #fff;
  width: 100%;
}

.ant-drawer-body {
  padding: 24px 0;
}

.ant-popover .ant-popover-title {
  padding: 10px 16px 8px;
}